
body, html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: 100;
	line-height: 30px;

	min-width:1040px;
}

.header {
	width:100%; height:550px;
	overflow: hidden;
	position: relative;
	background: #000;
	color: #fff;
}
	#sandbox-controls {
		display: flex;
	}

	label, input, button, select {
		cursor: pointer;
	}

.container {
	display: flex;
	flex-direction: column;
	
}
.section {
	margin: 50px auto;
	width:960px;
}

.interactive {
	width: 100%;
	background: #eee;
	overflow: hidden;
}

.interactive svg {
	display: block;
	margin: 25px auto;
	border: 1px solid #eee;
}

.instruction {
	text-align:center; 
	font-weight:bold; 
	font-size:25px
}

.header > #intro_shading{
		position: absolute;
		background:url(intro_banner.png);
		width:1280px; height:550px;
	}
	.header > p {
		color: #999;
		text-align: center;
		width: 800px;
		font-weight: 100;
		letter-spacing: 2px;
	}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header > .main-title {
	color: #ddd;
	font-size: 80px;
	letter-spacing: 8px;
	margin-bottom: 0;
}
.header > .main-subtitle {
	font-size: 24px;
}
.header > .authors {
	font-size: 24px;
	color: #777;
}

.footer {
	color: #999;
}

.footer > p, .footer > ul {
	margin: 10px auto;
	width:960px;
}

.header, .footer{
	width:100%; height:550px;
	overflow: hidden;
	position: relative;
	background: #000;
}
#intro, #outro{
	position: absolute;
	width:0; height:0;
	margin: auto;
	top:0; bottom:0; left:0; right:0;
}
#intro > #intro_background, #outro > #outro_background{
	display: block;
	position: absolute;
	left:-640px; top:-275px;
	width:1280px; height:550px;
	border: none;
}

a {
	color: #999;
}

.notes {
	color: #48c448;
}

.footer p {
	font-size: 16px;
}

.footer p:first-child {
	font-size: 28px;
	text-align: center;

	padding-top: 50px;
	padding-bottom: 20px;
}

.footer {
	height: auto;
  padding-top: 50px;
	padding-bottom: 100px;
}

.wrapper {
	position: relative;
	width: 960px;
	margin: 0 auto;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid #eee;
	padding: 15px;
}

.wrapper label {
  font-size: 12px;
}

#sandbox-controls {
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 0px;
	bottom: 0px;
}


.wrapper #select-box {
  position: absolute;
	right: 0px;
	top: 40px;
}

.wrapper #select-box {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}
.wrapper #select-box label {
	font-size: 9px;
	letter-spacing: 0.5px;
	font-weight: 400;
	padding: 0;
	margin: 0;
	margin-left: 0px;
	line-height: 12px;
}
.wrapper #select-box select {
	margin-left: 3px;
	width: 135px;
	padding: 1px;
	padding-left: 3px;
	margin: 0;
}

.asleep-cell {
	color: #a6a6a6;
}

.awake-cell {
	color: #48c448;
}
.section-intro {
	text-align: center;
	font-weight: 400;
	letter-spacing: 1px;
	color: #999;
	font-size: 24px;
	margin: 100px 0;
}


.section-intro2 {
	font-weight: 300;
	color: #999;
	font-size: 24px;
	margin-top: 100px;
}

h3 {
	color: #333;
	font-weight: 500;
}

.sandbox-instructions {
	border: 1px solid #eee;
	box-shadow: 5px 5px 8px #aaa;
	background-color: #fdfdfd;
}